@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

h2 {
  margin-bottom: .5rem;
}

body {
  background: radial-gradient(circle at 0%, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  max-width: 100%;
}

.wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score-board-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #606e85;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  margin: 1rem auto;
  border-radius: .5rem;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: .2;
}

.score-board-container-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score-board-container .scores {
  color: #3b4363;
  background-color: #fff;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}

.score-board-container .scores-text {
  color: #2a46c0;
}

.score-board-container .scores-counts {
  color: #3b4363;
}

.selects-container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 350px;
  position: relative;
}

.selects-container::before {
  position: absolute;
  background-image: url("../../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 70%;
  width: 70%;
  z-index: -1;
  top: 15%;
  left: 15%;
}

.btn-rules {
  border: 2px solid #fff;
  border-radius: .4rem;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  font-family: inherit;
  padding: .5rem;
  letter-spacing: .2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.btn {
  border: 2px solid #fff;
  border-radius: .4rem;
  background-color: #fff;
  text-transform: uppercase;
  color: #3b4363;
  font-family: inherit;
  padding: .5rem;
  letter-spacing: .2rem;
  margin: 0 1.3rem;
}

button:focus {
  outline: none;
}

.btn-circle {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  margin: 0 1.2rem;
}

.btn-circle:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.btn-circle .wrapper {
  width: 90px;
  height: 90px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.rock {
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(to bottom, #dc2e4e, #dd405d);
}

.paper {
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(to bottom, #4865f4, #5671f5);
}

.scissors {
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(to bottom, #ec9e0e, #eca922);
}

.selection {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 2rem;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.selection .play-again {
  margin: 3.5rem;
}

.selection .play-again .btn {
  cursor: pointer;
}

.selection .btn-circle {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.selection h2 {
  margin-bottom: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.selection .big-text {
  font-size: 2.5rem;
  margin: 1rem;
  line-height: 0.8;
  text-transform: uppercase;
}

.selection .big-text span {
  font-size: 2.5rem;
}

.rules-modal {
  background-color: bisque;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 1rem;
  width: 85vw;
  height: 75vh;
  z-index: 100;
  border-radius: 1rem;
}

.rules-modal button {
  border: none;
  padding: .3rem;
  border-radius: .5rem;
  margin-top: 3rem;
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* RESPONSIVE UI */
@media (max-width: 800px) {
  .score-board-container {
    width: 70%;
  }
  .btn-rules {
    bottom: .6rem;
    right: .3rem;
    font-size: .7rem;
  }
  .house-picked {
    margin-bottom: 2rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .selection .btn-circle {
    margin: .5rem .5rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
